*{
	 margin: 0;
   padding: 0;
   box-sizing: border-box;  /*盒模型模式*/
}  

body{   /*居中*/
	font-family:"arial, helvetica, sans-serif";	
	background-color: #f6f5f7;
  display: flex;   /*主轴方向 向中间偏移*/
	flex-direction:column;
	justify-content: center;  /*各项周围留有空白*/
	align-items: center;  /*居 中*/
	height: 100vh;    
}

h1{
	font-weight: bold;   /*字体加粗*/
	margin: 0;  
}
p{
	font-size: 14px;  /*字体*/
	font-weight: 100;  /*加粗*/
	line-height: 20px;  /*行高*/
	letter-spacing: 0.5px;  /*字母之间的间距*/
	margin: 20px 0 30px;     /*外边距*/
}
span{
	font-size: 12px;   
}
a{
	color: #333;
	font-size: 14px;
	text-decoration:none;  /*去除忘记密码下划线*/
	margin: 15px 0;
}
/*container*/
.container{
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0.11);
	/*背景阴影 第一个值表示水平 第二值垂直阴影  第三值指模糊距离 rgba是阴影颜色*/
	position: relative;  /*相对定位*/
	overflow: hidden;  /*去除滚动条*/
	width: 768px;
	max-width: 100%;  /*弹性宽度*/
	min-height: 480px; 
}
.form-container form{
	background-color: #fff; /*上方注册跟登录*/ 
	display: flex;
	flex-direction:column; /*主轴方向*/
	padding: 0 30px; /*上方登录 跟注册左右间距*/
	height: 100%;
	justify-content: center;  /*实现水平居中*/
	align-items: center;  /*实现垂直居中*/
	text-align: center;  /*文本排列到中间*/
}
.social-container{
	margin: 10px 0;  /*图标上下10px*/
}
.social-container a{   /*图标*/
	border: 1px solid #ddd;  /*图标外框线*/
	border-radius:50%;  /*图标外圆*/
	display: inline-flex;  /*将对象作为内联块级弹性伸缩盒显示*/
	justify-content: center;  /*实现水平居中*/
	align-items:center; /*实现垂直居中*/
	margin: 0 5px;
	height: 40px;
	width:  40px; 
}
.form-container input{
	background:#eee;
	border:none;
	padding: 12px 15px;
	margin: 5px 0;
	width: 100%;
}
button{
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background: #ff4b2b;
	color: #fff;      /*白色*/
	font-size: 12px;
	font-weight: bold; /*加粗*/
	padding: 12px 45px;     /*注册 登录按扭*/
	letter-spacing: 1px;  /*字间距*/
	transition: transform 80ms ease-in;  /*点击触碰秒时间*/
}

button:active{
	transform: scale(0.95);   /*单独垂直偏移*/
}

button:focus{
	outline: none; /*去掉按扭外边的框*/
}

button.ghost{
	background: transparent;
	border-color: #fff;
}
.form-container{
	position: absolute;
	top: 0;
	height: 100%;
	transition:all 0.6s ease-out;
}
/*sign in 忘记密码*/
.sign-in-container{
	left: 0;
	width: 50%;  /*居中*/
	z-index:2;
}
/*注册页面*/
/* sign in */
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

/* sign up */
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/* overlay-container */
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay{
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0/cover;
    color: #fff;
    height: 100%;
    width: 200%;
    position: relative;
    left: -100%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.overlay-left{
    transform: translateX(-20%);
}

/* animation */
/* move sign in to the right */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

/* move overlay to left */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

/* bring sign up over sign in */
.container.right-panel-active .sign-up-container{
    opacity: 1;
    z-index: 5;
    transform: translateX(100%);
}

/* move overlay back to right */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
© 2020 GitHub, Inc.